{% extends 'autos/base.html' %}

{% block body %}

<h1>Ventas</h1>

<h3>Nuestra marca mas vendida: {{ marca_popular }}</h3>

{% if perms.ventas.add_venta %}
<a href="{% url 'cargar_venta' %}">Cargar Venta</a>
{% endif %}

<hr>

{% for venta in ventas %}
<h1>{{ venta }}</h1>
<p>{{ venta.auto }} | {{ venta.vendedor }} | ${{ venta.precio }} | {{ venta.fecha }} </p>

<a href="{% url 'detalle_venta' venta.id %}">Detalle</a>
{% if perms.ventas.change_venta %}
|
<a href="{% url 'editar_venta' venta.id %}">Editar</a>
{% endif %}

{% if perms.ventas.delete_venta %}
|
<a href="{% url 'anular_venta' venta.id %}">Anular</a>
{% endif %}

<hr>
{% endfor %}

{% endblock %}